{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'signup/base.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Weather Powered Email</h1>
            </div>
            <hr>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
